.navbar {
    width: calc(100% - 250px);
    margin-left: 250px;
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .logout-btn {
    background-color: #e74c3c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .logout-btn:hover {
    background-color: #c0392b;
  }
  