.user-management-container {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    background: #eae8e8;
    color: white;
    transition: margin-left 0.3s ease;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
    background: #f8f7f7;
    padding: 15px;
    border-radius: 8px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    border-bottom: 1px solid #444;
    text-align: left;

  }
  .user-table td{
    color:#444 ;
  }
  
  .user-table th {
    background-color: #2b2b2b;
    font-weight: bold;

  }
  
  .status-select {
    width: 140px;
    padding: 6px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .refund-button {
    background-color: #ff5733;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .refund-button:hover {
    background-color: #d43f1f;
  }
  
  .refund-processed {
    color: #0f0;
  }
  
  .refund-pending {
    color: #f00;
  }
  